<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Seamless (prototipo)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>


  <body>

  
    <img src=/imagenes/BANNERVERDE.png height = auto width = 100%>

    <img src=/imagenes/bannerSALE.png height = auto width = 100%>
    
    <ul class="barraSelecciones bg-body-tertiary my-3">
        <li onclick="showSection('Seleccion')">Nuestra Selección</li>
        <li onclick="showSection('Arrivals')">New Arrivals</li>
        <li onclick="showSection('Sale')">Sale</li>
    </ul>


    <section id="Seleccion" class="card-section">

        <div class="card mx-5 my-3 " style="width: 15rem;" >
            <img src="/imagenes/pollera.png" class="card-img-top" alt="Pollera Marrón con Lazo de Terciopelo">
            <div class="card-body">
              <h5 class="Prenda">Pollera Marrón con Lazo de Terciopelo</h5>
              <p class="Precio">$17,000</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="/imagenes/sweater.png" class="card-img-top" alt="Suéter oversize negro">
            <div class="card-body">
              <h5 class="Prenda">Suéter oversize negro</h5>
              <p class="Precio">$23,000</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="/imagenes/remerasade.png" class="card-img-top" alt="Remera de Sade Diamond Life">
            <div class="card-body">
              <h5 class="Prenda">Remera de Sade Diamond Life</h5>
              <p class="Precio">$16.000</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="/imagenes/jean.png" class="card-img-top" alt="Jean celeste verdoso wide leg">
            <div class="card-body">
              <h5 class="Prenda">Jean celeste verdoso wide leg</h5>
              <p class="Precio">$45.000</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>
    </section>

    <section id="Arrivals" class="card-section">
        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="/imagenes/camperacuero.png" class="card-img-top" alt="Campera de cuero vintage militar">
            <div class="card-body">
              <h5 class="Prenda">Campera de cuero vintage militar</h5>
              <p class="Precio">$37.800</p>
              <button href="#" class="botonCard" >Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="/imagenes/camisaarrivals.png" class="card-img-top" alt="Musculosa blanca de lino">
            <div class="card-body">
              <h5 class="Prenda">Musculosa blanca de lino</h5>
              <p class="Precio">$15.600</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src=" /imagenes/cardigan.png" class="card-img-top" alt="Cardigan negro">
            <div class="card-body">
              <h5 class="Prenda">Cardigan negro</h5>
              <p class="Precio">$28.000</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="/imagenes/vestidolana.png" class="card-img-top" alt="Vestido de lana color gris oscuro">
            <div class="card-body">
              <h5 class="Prenda">Vestido de lana color gris oscuro</h5>
              <p class="Precio">$30.500</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>
    </section>


    <section id="Sale" class="card-section">

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="imagenes/remerasale.png" class="card-img-top" alt="Blusa blanca con encaje">
            <div class="card-body">
              <h5 class="Prenda">Blusa blanca con encaje</h5>
              <p class="Precio">$12.999</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="imagenes/pollerasale.png" class="card-img-top" alt="Pollera de encaje y jean tiro bajo">
            <div class="card-body">
              <h5 class="Prenda">Pollera de encaje y jean tiro bajo</h5>
              <p class="Precio">$23,000</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="imagenes/pantalonessale.png" class="card-img-top" alt="Pantalones de oficina negros">
            <div class="card-body">
              <h5 class="Prenda">Pantalones de oficina negros</h5>
              <p class="Precio">$23,000</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>

        <div class="card mx-5 my-3" style="width: 15rem;" >
            <img src="/imagenes/sweater.png" class="card-img-top" alt="Suéter oversize negro">
            <div class="card-body">
              <h5 class="Prenda">Suéter oversize negro</h5>
              <p class="Precio">$23,000</p>
              <button href="#" class="botonCard">Ver Más</button>
            </div>
        </div>
    </section>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  </body>
</html>