<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Seamless (prototipo)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>


  <body>

    <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <img src = /imagenes/image-removebg-preview.png width="50" height="50" href="#">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white" aria-current="page" href="#">Comprar</a>
        <a class="nav-link text-white" href="#">Emprendedores</a>
        <a class="nav-link text-white" href="#">Nosotros</a>
        <a class="nav-link text-white" href = "#" >Vender</a>

  
      </div>
      
      <div class="d-inline p-2">
          <img src = /imagenes/buscarimg.png width="200" href="#">
          <img src = /imagenes/carritoimagen.png width="50" href="#">
          <img src = /imagenes/userimagen.png width="50" href="#">      
      </div>
      

    </div>
  </div>
</nav>

    <img src=/imagenes/BANNERVERDE.png height = auto width = 100%>

    <img src=/imagenes/bannerSALE.png height = auto width = 100%>

    <img class= "fondo" src=/imagenes/fondoSeamless.png height = 100% width = 100%>
    
    <ul>
        <li onclick="showSection('seleccion')">Nuestra Selección</li>
        <li onclick="showSection('arrivals')">New Arrivals</li>
        <li onclick="showSection('sale')">Sale</li>
    </ul>

    <section id="seleccion" class="card-section">

        <div class="card">
          <img src= /imagenes/pollera.png height = auto width = 100%>
          <h3>Pollera Marrón con Lazo de Terciopelo</h3>
          <p class="precio">$17,000</p>
          <button>Ver Más</button>
        </div>
          
        <div class="card">
          <img src= /imagenes/sweater.png height = auto width = 100%>
          <h3>Suéter oversize negro</h3>
          <p class="precio">$23,000</p>
          <button>Ver Más</button>
        </div>
    
      <div class="card">
          <img src= /imagenes/remerasade.png height = auto width = 100%>
          <h3>Remera de Sade Diamond Life</h3>
          <p class="precio">$16.000</p>
          <button>Ver Más</button>
      </div>

      <div class="card">
          <img src= /imagenes/jean.png height = auto width = 100%>
          <h3>Jean celeste verdoso wide leg</h3>
          <p class="precio">$45.000</p>
          <button>Ver Más</button>
      </div>
    </section>

    <section id="arrivals" class="card-section" style="display: none;">

      <div class="card">
        <img src= /imagenes/camperacuero.png height = auto width = 100%>
        <h3>Campera de cuero vintage militar</h3>
        <p class="price">$37.800</p>
        <button>Ver Más</button>
      </div>
      
      <div class="card">
          <img src= /imagenes/camisaarrivals.png height = auto width = 100%>
          <h3>Musculosa blanca de lino</h3>
          <p class="precio">$15.600</p>
          <button>Ver Más</button>
      </div>

      <div class="card">
            <img src= /imagenes/cardigan.png height = auto width = 100%>
            <h3>Cardigan negro</h3>
            <p class="precio">$28.000</p>
            <button>Ver Más</button>
      </div>
    
      <div class="card">
            <img src= /imagenes/vestidolana.png height = auto width = 100%>
            <h3>Vestido de lana color gris oscuro</h3>
            <p class="precio">$30.500</p>
            <button>Ver Más</button>
      </div>

    </section>

    <section id="sale" class="card-section" style="display: none;">

      <div class="card">
          <img src=imagenes/remerasale.png height = auto width = 100%>
          <h3>Blusa blanca con encaje</h3>
          <p class="precio">$12.999</p>
          <button>Ver Más</button>
      </div>

      <div class="card">
          <img src=imagenes/pollerasale.png height = auto width = 100%>
          <h3>Pollera de encaje y de jean tiro bajo</h3>
          <p class="precio">$23.000</p>
          <button>Ver Más</button>
      </div>
   
      <div class="card">
          <img src=imagenes/pantalonessale.png height = auto width = 100%>
          <h3>Pantalones de oficina negros</h3>
          <p class="precio">$34.100</p>
          <button>Ver Más</button>
      </div>

      <div class="card">
          <img src=imagenes/bufandasale.png height = auto width = 100%>
          <h3>Bufanda chunky color nude</h3>
          <p class="precio">$21.000</p>
          <button>Ver Más</button>
      </div>

  </section>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  </body>
</html>