@{
    ViewData["Title"] = "Registro";
}


<h1> Registrate en Seamless </h1>
<h2>@ViewBag.MensajeError </h2>

<form method="post" action= '@Url.Action("GuardarUsuario", "Account")' onsubmit="return ValidarContraseña()"> 
    UserName <input type="text" name="username" required>
    Correo Electrónico <input type="email" name="email" required> 
    Teléfono <input type="tel" name="tel" required>
    Nombre <input type="text" name="name" required>
    Contraseña <input type="password" name="contra" id="contra" required onkeyup="ValidarContraseña()"> <p id="MostrarError" style="color:red;"></p>
    Repita su contraseña <input type="password" name="contra2" id="contra2" required onkeyup="CompararContraseñas()"> <p id="MostrarError2" style="color:red;"></p>
    <p> <input type="submit" value="ENVIAR">  </p>

</form>