@{
    ViewData["Title"] = "Registro";
}

<div class="bodyRegistro">
    <div class="cajaRegistro">
        <h1> Registrate en Seamless </h1>
        <h2>@ViewBag.MensajeError </h2>

        <form method="post" action= '@Url.Action("GuardarUsuario", "Account")' onsubmit="return ValidarContraseña()"> 
            <h3> Username </h3>
            <input type="text" name="username" required>

            <h3> Correo Electrónico </h3>
            <input type="email" name="email" required> 

            <h3> Teléfono </h3>
            <input type="tel" name="tel" required>

            <h3> Nombre </h3>
            <input type="text" name="name" required>

            <h3> Contraseña </h3>
            <input type="password" name="contra" id="contra" required onkeyup="ValidarContraseña()"> <p id="MostrarError" style="color:red;"></p>

            <h3> Repita su contraseña </h3>
            <input type="password" name="contra2" id="contra2" required onkeyup="CompararContraseñas()"> <p id="MostrarError2" style="color:red;"></p>

            <p> <input class="boton" type="submit" value="Registrarme">  </p>

        </form>
    </div>
</div>