
html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .card {
      flex: 1 1 22rem;
  }
}

@media (max-width: 768px) {
  .card {
      flex: 1 1 100%; 
  }
}

@font-face {
  font-family: "dreamCottage";
  src: url("/fonts/DreamCottage.otf");
  font-weight: normal;
  font-style: normal;
}

*{  font-family: 'dreamCottage';}

body {
  margin: 10px;
  padding: 10px;
}

.nav-link{
  margin: 10px;
  font-family: "Epilogue", sans-serif;
}

.navbar{
  background-color: #5E0F0A;
}

.d-inline{
display: flex;
flex-wrap: nowrap;
margin-left: 55%;
}

footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

main{
  background-image: url("/imagenes/fondoSeamless.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
}

ul {
  list-style: none;       
  display: flex;
  justify-content: center;
  gap: 20px;              
}

ul li {
  cursor: pointer;
  padding: 10px;
}

ul li a {
  text-decoration: none;  
  color: #fff;           
  font-weight: bold;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem; 
}

.card {
  border: 1px solid #ccc; 
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  flex: 1 1 15rem;
  box-sizing: border-box;
} 

.card h3 {
  font-size: 1.1em;
  margin: 10px 0;
}

.price {
  color: #C6CC8F;
  font-weight: bold;
}

button {
  background-color: #6A5945; 
  color: #fff;             
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.botonCard{
  background-color: #5E0F0A;
  color: #e0c172;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}


#seleccion:target, #arrivals:target, #sale:target {
  display: flex;
}

.barraSecciones{
  background-color: #5E0F0A;
  color: #e0c172;
}

/* LOGIN */

.bodyLogin { display: flex;}

.fotoLogin
{
  flex: 1;
  background-image: url('/imagenes/foto_LOGIN.jpg');
  background-size: cover;
  background-position: center;
}

.fotoLogin img
{
  height: 100%;
  width: auto;
}

.formulario
{
  width: 40%;
  height:100%;
  background-color: #f8f9fafa;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.logoLogin
{
  width: 70%;
  height: auto;
  margin-bottom: 10%;
}

.formulario h2
{
  color:red;
  font-size: small;
}

form
{
  width:100%;
}

form h3
{
  font-size: larger;
  margin-bottom: 2%;
}

form input
{
  border-radius: 20px;
  width:100%;
  border: 1px solid black;
  margin-bottom: 5%;
}

.formulario a, .cajaRegistro a
{
  color: #5E0F0A;
  text-decoration: underline #5E0F0A;
  text-align: center;
  margin:0%;
  padding:0%;
}

form .boton
{
  margin-top: 7%;
  width: 80%;
  height: 70px;
  background-color: #404B31;
  border: 0px;
  border-radius: 20px;
  color: #E8D5A6;
  margin-left: 7%;
  font-size: 22px;
}

.icon-link
{
  margin:0%;
  padding:0%;
}



/* REGISTRO */

.bodyRegistro
{
  display: flex;
  justify-content: center;
}

.cajaRegistro
{
  width:50%;
  height:auto;
  background-color: #f8f9fadc;
  padding:5%;
  margin:4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
}

.cajaRegistro h1
{
  font-size:60px;
  color:#5E0F0A;
  text-align: center;
  margin-bottom:5%;
}

.cajaRegistro a
{
  width:100%;
}